// variable
$primary_font: 'Roboto', sans-serif;
$secondary_font: 'rufina', sans-serif;
$primary_color: #263a41;
$secondary_color: #888;
$tertiary_color: #ff817e;
$forth_color: #fff;
$fifth_color: #555;
$sixth_color: #1e2528;
$seventh_color:#fcf5ee; 

// write your style
body {
    margin: 0;
    padding: 0;
    text-align: center;
}
h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 27px;
    font-family: $secondary_font;
    color: $primary_color;
}
h3 {
    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
    font-family: $secondary_font;
    color: $primary_color;
}
p {
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    font-family: $primary_font;
    color: $secondary_color;
}
a{
    font-size: 14px;
    font-weight: 500;
    line-height: 45px;
    font-family: $primary_font;
    color: $primary_color; 
}
.btn-leospa {
    font-size: 13px;
    font-weight: 500;
    line-height: 27px;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 5px 30px;
    font-family: $primary_font;
    color: $forth_color;
    background-color: $sixth_color;
    &:hover {
        background-color: $tertiary_color;
        color: $forth_color;
    }
}

// start header section
.leospa-header {
    margin-bottom: 50px;
    .main-menu {
        padding-top: 50px;
        justify-content: center;
        a {
            text-transform: uppercase;
            font-size: 14px;
            line-height: 45px;
            font-weight: 500;
            font-family: $primary_font;
        }
    }
    
}
//start leospa-banner
.leospa-banner {
    margin-bottom: 50px;
    text-align: left;
    .banner-title {
        .sub-title {
            font-size: 15px;
            line-height: 72px;
            font-weight: 400;
            text-transform: uppercase;
            font-family: $secondary_font;
            color: $tertiary_color;
        }
        .title {
            font-size: 60px;
            line-height: 75px;
            font-weight: bold;
            font-family: $secondary_font;
            color: $sixth_color;
        }
    }
    .banner-content {
        content {
            font-size: 15px;
            font-weight: 400;
            line-height: 27px;
            font-family: $primary_font;
            color: $secondary_color;
        }
    }
    .banner-button {
        .btn-leospa {
            border-radius: 0;
            i {
                margin-left: 7px;
                font-size: 12px;
            }
        }
        .video-btn {
            i {
                background-color: $seventh_color;
                margin: 0 5px 0 20px;
                padding: 10px;
                border-radius: 50%;
                color: $tertiary_color;
            }
        }
        
    }
}
