// variable
$primary_font: 'Roboto', sans-serif;
$secondary_font: 'rufina', sans-serif;
$primary_color: #263a41;
$secondary_color: #888;
$tertiary_color: #ff817e;
$forth_color: #fff;
$fifth_color: #555;
$sixth_color: #1e2528;

// write your style
body {
    margin: 0;
    padding: 0;
    text-align: center;
}
h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 27px;
    font-family: $secondary_font;
    color: $primary_color;
}
p {
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    font-family: $primary_font;
    color: $secondary_color;
}
a{
    font-size: 14px;
    font-weight: 500;
    line-height: 45px;
    font-family: $primary_font;
    color: $primary_color; 
}